body {
    background-color: rgb(197, 253, 255);
    text-align: justify;
    width: 70%;
    margin-left: auto;
    margin-right: auto  ;
}
h1 {
    color: rgb(0, 181, 187);
    padding-left: 60px;
    font-size: 80px;
}
h2 {
    color: rgb(0, 181, 187);
    padding-left: 60px;
    font-size: 60px;
}
p {
    color: rgb(0, 102, 105);
    padding-left: 10px;
    font-size: 30px;
}
table{
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin: auto;
}
table, th, tr, td{ 
    border: 2px solid rgb(0, 102, 105);
    border-collapse: collapse;
}
th {
    color: rgb(0, 102, 105);
    padding: 10px;
    background-color: rgb(197, 253, 255);
}
td { 
    padding: 5px;
}
