body {
    background-color: antiquewhite;
    text-align: center;
    margin: 100px;
    font-size: 160%;

}
h1 {
    color: rgb(70, 70, 70);
}
table, td, th, tr {
    color: black;
    border: 1px solid rgb(70, 70, 70);
    border-collapse: collapse;
    padding: 6px;
    margin: 0 auto;

}
th {
    background-color: grey;
    text-align: center;
    text-decoration: wavy;
}
table {
    width: 30%;
}